# yaml-language-server: $schema=https://squidfunk.github.io/mkdocs-material/schema.json

# pip install mkdocs mkdocs-material
# mkdocs serve
# mkdocs gh-deploy

site_name: Validable
repo_name: Validable
repo_url: https://github.com/devscast/validable
site_description: "An easy-to-use text field validator for Kotlin & Jetpack compose."
site_author: Devscast
remote_branch: gh-pages

copyright: 'Copyright &copy; 2024 Devscast Community'

theme:
  name: 'material'
  palette:
    - media: '(prefers-color-scheme: light)'
      scheme: default
      primary: 'white'
      accent: 'yellow'
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - media: '(prefers-color-scheme: dark)'
      scheme: slate
      primary: 'black'
      accent: 'yellow'
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  font:
    text: 'Lato'
    code: 'Fira Code'
  features:
    - content.code.copy
    - content.code.select

markdown_extensions:
  - smarty
  - codehilite:
      guess_lang: false
  - footnotes
  - meta
  - toc:
      permalink: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.inlinehilite
  - pymdownx.magiclink
  - pymdownx.smartsymbols
  - pymdownx.superfences
  - pymdownx.emoji
  - pymdownx.tabbed:
      alternate_style: true
  - tables
  - admonition
  - attr_list
  - md_in_html

nav:
  - 'Get Started': index.md
  - 'Create a validable': create_validable.md
  - 'Built in validables':
      - 'CardSchemeValidable' : validables/cardscheme.md
      - 'Email' : validables/email.md
      - 'Equal To' : validables/equal_to.md
      - 'Greater Than Or Equal' : validables/greater_than_or_equal.md
      - 'Greater Than' : validables/greater_than.md
      - 'HostName' : validables/host_name.md
      - 'IP Address' : validables/ip.md
      - validables/less_than.md
      - validables/less_than_or_equal.md
      - validables/negative_or_zero.md
      - validables/negative.md
      - validables/not_blank.md
      - validables/not_empty.md
      - validables/not_equal.md
      - validables/positive.md
      - validables/positive_or_zero.md
      - validables/range.md
      - validables/regex.md

  - 'Code of conduct': coc.md